@import "bulma.css";

.navbar {
	background-color: #F8FAFF;
	color: #c1c9d2;
}

a, i {
	color: inherit;
}
a:hover {
	color: #3ec48e;
}

i {
	vertical-align: middle;
}

.hero {
	background-color: #F8FAFF;
}

 .moon {
 	color: #818cab;
 }

 .sun {
 	color: #363636;
 }

.moon-icon-border {
	color: #3ec48e;
}

.sun-icon-border {
	color: #c1c9d2;
}

 input {
 	display: none;
 }

code {
	background-color: #1F2023;
	color: #04C904;
	border-radius: 10px;
}